.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #f2f2f2;
}
.social {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  font-size: large;
  padding: 15px;
  font-weight: bold;
  margin-left: 600px;
}
.social img {
  height: 20px;
  width: 20px;
}
@media (max-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: left;
    gap: 0px;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #f2f2f2;
    margin-left: 150px;
  }
  .wrapper h2 {
    text-align: center;
  }
  .social {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-size: large;
    padding: 15px;
    font-weight: bold;
    margin-left: 15px;
  }
}
